@import "tailwindcss";

@font-face {
  font-family: "Georgia";
  src: url("/fonts/georgia.ttf") format("truetype");
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.otf") format("opentype");
}

/* Tailwind CSS customizations */
@layer base {
  :root {
    --font-general: "General Sans", sans-serif;
    --font-georgia: "Georgia", serif;
    --color-purple: rgba(255, 130, 233, 1);
    --color-yellow: rgba(235, 197, 1, 1);
    --color-multi-gradient: linear-gradient(
      94.74deg,
      rgba(235, 197, 1, 1) -9.76%,
      rgba(255, 130, 233, 1) 109.27%
    );
    --color-purple-gradient: linear-gradient(
      94.74deg,
      rgba(247, 176, 251, 1) -9.76%,
      rgba(255, 130, 233, 1) 109.27%
    );
  }
}

.font-georgia {
  font-family: "Georgia", serif;
}

.body {
  background-color: white;
}

* {
  font-family: "Inter", sans-serif;
}

.bg-multi-gradient {
  background: var(--color-multi-gradient);
}

.bg-purple-gradient {
  background: var(--color-purple-gradient);
}

.gradient-text {
  background: var(--color-multi-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For Firefox */
  color: transparent;
}

.bg-multi-gradient-glow {
  background: var(--color-multi-gradient);
  opacity: 0.3;
}

.purple-btn {
  background: var(--color-purple-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 254px;
  height: 44px;
  border-radius: 50px;
  color: #fff;
}
