@import "tailwindcss";

@font-face {
  font-family: "Georgia";
  src: url("/fonts/georgia.ttf") format("truetype");
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "General Sans Bold";
  src: url("/fonts/GeneralSans-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.otf") format("opentype");
}

/* Apply to the whole site */
html {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ff82e9 #f0f0f0; /* thumb color, track color (Firefox fallback) */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ebc501, #ff82e9);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #deb902,
    #ff82e9
  ); /* Slightly darker on hover */
}

/* Tailwind CSS customizations */
@layer base {
  :root {
    --font-general: "General Sans", sans-serif;
    --font-georgia: "Georgia", serif;
    --color-purple: rgba(255, 130, 233, 1);
    --color-yellow: rgba(235, 197, 1, 1);
    --color-multi-gradient: linear-gradient(
      94.74deg,
      rgba(235, 197, 1, 1) -9.76%,
      rgba(255, 130, 233, 1) 109.27%
    );
    --color-purple-gradient: linear-gradient(
      94.74deg,
      rgba(247, 176, 251, 1) -9.76%,
      rgba(255, 130, 233, 1) 109.27%
    );
  }
}

.font-georgia {
  font-family: "Georgia", serif;
}

.font-sans {
  font-family: "General Sans", sans-serif;
}

.font-sans-bold {
  font-family: "General Sans Bold", sans-serif;
}

.body {
  background-color: #f9f5f6;
}

* {
  font-family: "Inter", sans-serif;
}

.bg-multi-gradient {
  background: var(--color-multi-gradient);
}

.bg-purple-gradient {
  background: var(--color-purple-gradient);
}

.gradient-text {
  background: var(--color-multi-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For Firefox */
  color: transparent;
}

.bg-multi-gradient-glow {
  background: var(--color-multi-gradient);
  opacity: 0.3;
}

.purple-btn {
  background: var(--color-purple-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 254px;
  height: 44px;
  border-radius: 50px;
  color: #fff;
}

.input-border {
  position: relative !important;
  border-radius: 24px !important;
  padding: 2px !important; /* border thickness */
  background: linear-gradient(90deg, #ebc501, #ff82e9) !important;
}

.input-border > div {
  border: none;
  border-radius: 24px; /* inner radius = outer radius - padding */
  padding: 8px 12px;
  width: 100%;
  background: white;
  outline: none;
}

/* Accordion styles start */

.accordion__section {
  display: flex;
  flex-direction: column;
}

.accordion {
  background-color: #fff;
  border-radius: 34px;
  color: #444;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion__title {
  font-weight: 600;
}

.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.accordion__text {
  font-weight: 400;
  padding: 18px;
}

/* Accordion styles end */
